/*Titel*/

.basic-calculations {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.escape-velocity-overtitel {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.surface-area-star-overtitel {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.spatial-angle-overtitel {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*Grid*/

.gridItem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    padding: 10px;
}

.gridItemNoImg {
    grid-template-rows: repeat(2, 1fr);
}

.twoRows {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.fullGrid {
    grid-area: 1 / 1 / 4 / 2 !important;
}

.row2 {
    grid-area: 3 / 2 / 4 / 3 !important;
}

.gridTitle {
    grid-area: 1 / 2 / 2 / 3;
}

.DOSR-overtitel {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.Escape-velosity-titel {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 27px;
    font-weight: 800;
}

.info-text {
    margin-top: 0;
    margin-left: 200px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 800;
}

.Text-for-Mass-Object {
    font-size: 15px;
    font-weight: 800;
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top: 0;
}

.inputbox1 {
    margin-left: 10px;
}

.inputbox2 {
    margin-left: 10px;
}

.Escape-velosity {
    margin-left: 10px;
    margin-right: 60%;
    box-shadow: 0 0 0 5px;
    padding-top: 1px;
    padding-bottom: 10px;
    left: -75%;
    transform: translate(75%);
}

/*Final result*/

.final-result-escape-velocity {
    margin-left: 10px;
    padding-top: 20px;
    font-size: 15px;
    font-weight: 800;
}

.final-result-escape-velocity-number {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 800;
}

.final-result-escape-velocity-convert {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 800;
}

.final-result-escape-velocity-convernumber {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 800;
}

.final-result-escape-velocity-rounded {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 800;
}

.final-result-escape-velocity-rounded-number {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 800;
}

/*Convert to Scientific notation*/

.Convert-to-scientific-notation {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 27px;
    font-weight: 800;
}

.Text-decimalnum {
    font-size: 15px;
    font-weight: 800;
    margin-left: 43px;
    margin-bottom: 5px;
}

.inputbox3 {
    margin-left: 10px;
}

.convert-result {
    margin-left: 10px;
    padding-top: 20px;
    font-size: 15px;
    font-weight: 800;
}

.convert-numresult {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 800;
}

.Convert-to-scientific-notationa {
    margin-left: 10px;
    margin-right: 60%;
    box-shadow: 0 0 0 5px;
    padding-top: 1px;
    padding-bottom: 10px;
    left: -75%;
    transform: translate(75%);
}

/*Convert to decimal number*/

.Convert-to-decimal-number {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 27px;
    font-weight: 800;
}

.Text-scientific-notation-num {
    font-size: 15px;
    font-weight: 800;
    margin-left: 43px;
    margin-bottom: 5px;
}

.inputbox4 {
    margin-left: 10px;
}

.convert-result1 {
    margin-left: 10px;
    padding-top: 20px;
    font-size: 15px;
    font-weight: 800;
}

.convert-numresult1 {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 800;
}

.Convert-to-decimal-numbera {
    margin-left: 10px;
    margin-right: 60%;
    box-shadow: 0 0 0 5px;
    padding-top: 1px;
    padding-bottom: 10px;
    left: -75%;
    transform: translate(75%);

}

.info-texta {
    margin-top: 0;
    margin-left: 200px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 800;
}

/*Surface Area*/

.surface-area-stara {
    margin-left: 10px;
    margin-right: 60%;
    box-shadow: 0 0 0 5px;
    padding-top: 1px;
    padding-bottom: 10px;
    left: -75%;
    transform: translate(75%);
}


.surface-area-star-titel {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 27px;
    font-weight: 800;
}

.surface-area-star-input2 {
    margin-left: 10px;
}

.final-result-surarst1 {
    margin-left: 10px;
    padding-top: 20px;
    font-size: 15px;
    font-weight: 800;
}

.final-result-surarst2 {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 800;
}

/*Spatial Angle*/

.spatial-anglea {
    margin-left: 10px;
    margin-right: 60%;
    box-shadow: 0 0 0 5px;
    padding-top: 1px;
    padding-bottom: 10px;
    left: -75%;
    transform: translate(75%);
}


.spatial-angle-titel {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 27px;
    font-weight: 800;
}

.Text-for-radius-Object {
    font-size: 15px;
    font-weight: 800;
    margin-left: 10px;
    margin-bottom: 5px;
}

.Text-for-faecheninhalt-Object {
    font-size: 15px;
    font-weight: 800;
    margin-left: 10px;
    margin-bottom: 5px;
}

.spatialangleinput1 {
    margin-left: 10px;
}

.spatialangleinput2 {
    margin-left: 10px;
}

.final-result-spatial-angle1 {
    margin-left: 10px;
    padding-top: 20px;
    font-size: 15px;
    font-weight: 800;
}

.final-result-spatial-angle2 {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 800;
}

/*distribution of solar radiation*/

.gridBody {
    border: 5px solid #2b2d30;
    border-radius: 5px;
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    & :is(p, input) {
        margin: 0;
    }
}


.DOSR-titel {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 27px;
    font-weight: 800;
}

.Text-for-distance-in-AU-Object {
    text-align: left;
    font-size: 15px;
    font-weight: 800;
    text-align: left;
    margin: 0;
}


.final-result-DOSR1 {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 800;
}

.final-result-DOSR2 {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 800;
}

@media screen and (max-width: 1000px) {
    .sidepicture {
        visibility: hidden;
    }
}