.CMB-Important-Info {
    margin-left: 40px;
}

.CMB-Text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 20px 20px 0 20px;
}

.Ueberschrift,
.sub-Ueber-schrift {
    text-align: center;
}

.CMB-Text li {
    margin-left: 20px;
}

.CMBImg {
    float: right;
    margin-right: 0;
    width: 20%;
}

@media screen and (max-width: 1000px) {
    .CMBImg {
        width: 30%;
    }
}

@media screen and (max-width: 800px) {
    .CMBImg {
        width: 40%;
    }
}

@media screen and (max-width: 500px) {
    .CMBImg {
        width: 55%;
    }
}