/*Table*/

table,
td,
th {
    border: 1px solid;
    transform: scale(1.15);
}

table {
    border-collapse: collapse;
}

.tableheadertext {
    font-weight: 800;
    font-size: 25px;
}

.tablebodytext1 {
    font-weight: 500;
    font-size: 20px;
}

.tablebodytext2 {
    font-weight: 500;
    font-size: 20px;
}

.tablebodytext3 {
    font-weight: 500;
    font-size: 20px;
}

.tableeverything {
    display: none;
    visibility: hidden;
    margin-top: 30px;
    width: 85%;
    text-align: center;
}

@media screen and (max-width: 1190px) {

    .tableheadertext,
    .tablebodytext1,
    .tablebodytext2,
    .tablebodytext3,
    .tableeverything {
        font-size: 15px;
    }
}

@media screen and (max-width: 900px) {

    .tableheadertext,
    .tablebodytext1,
    .tablebodytext2,
    .tablebodytext3,
    .tableeverything {
        font-size: 10px;
    }
}

@media screen and (max-width: 530px) {

    .tableheadertext,
    .tablebodytext1,
    .tablebodytext2,
    .tablebodytext3,
    .tableeverything {
        font-size: 8px;
    }
}